body {
	background-color: black;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.main {
	width: 240px;
	height: 240px;
	margin-bottom: 20px;
}

.slider {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 140px;
	overflow: hidden;
}

.slider img {
	width: 140px;
	height: 140px;
}

.arrows {
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.arrows__left {
	position: absolute;
	top: 300px;
	left: 240px;
}

.arrows__right {
	position: absolute;
	top: 300px;
	left: 1060px;
}